.profilePage {
    max-width: 1000px;
    margin: auto;
    padding: 20px;
  }
  
  .profileHeader {
    margin-bottom: 20px;
  }

  
  .profileCard {
    display: flex;
    align-items: center;
    background-color: white;
    border-radius: 35px;
    padding: 20px;
    box-shadow: -4px 4px 8px rgba(0, 0, 0, 0.4);
    max-width: 900px;
    margin: 40px auto;
    margin-left: 80px;
  }
  
  .profileImage img {
    width: 160px;
    height: 160px;
    border-radius: 50%;
    margin-right: 20px;
    margin-left: -100px;
    background-color: white;
    box-shadow: -4px 4px 8px rgba(0, 0, 0, 0.4);
  }
  
  .profileInfo {
    flex-grow: 1;
  }
  
  .profileName {
    font-size: 2.5em;
    color: #007bff;
    margin: 0;
    font-weight: bolder;
  }
  
  .profileTitle,
  .profileEmail,
  .profileGrade {
    font-size: 1.2em;
    color: #7a7a7a;
    margin: 10px 0;
    font-weight: bold;
  }

  .profileTitle{
    color: #333;
    font-size: 1.2em;
    font-weight: bolder;
  }
  .buttonHolder{
    height: 130px;    
  }
  
  .submit {
    background-color: #0163FD;
    color: #ffffff;
    border: none;
    border-radius: 42px;
    padding: 10px 22px;
    font-size: 15px;
    cursor: pointer;
    margin-top: 0px;
  }
  
  .submit:hover {
    background-color: #0056b3;
  }
  
.profileContent{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
  .statsCard {
    background-color: white;
    border-radius: 15px;
    width: 45%;
    padding: 20px;
    box-shadow: -4px 4px 8px rgba(0, 0, 0, 0.4);
    max-width: 500px;
    text-align: center;
  }
  
  .statItem {
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
  }
  
  .statTitle {
    font-size: 1.2em;
    font-weight: bold;
    margin: 10px;
    color: #333;
  }
  
  .statValue {
    font-size: 1.2em;
    font-weight: bold;
    margin: 10px 10px 0 0;
    color: #333;
  }
  
  .divider {
    border: 0;
    border-top: 1px solid #ccc;
    margin: 10px 0;
  }
  
  .badges {
    display: inline-block;
  }
  
  .badges img {
    max-width: 180px;
    max-height: 80px;
  }
  .quoteContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: -4px 4px 8px rgba(0, 0, 0, 0.4);
    margin-top: 40px;
  }
  
  .quoteMarksLeft{
    width: 80%;
    display: block;
  }
  .quoteMarksRight{
    width: 80%;
    display: flex;
    justify-content: flex-end;
  }

  .quoteMark {
    font-size: 6em;
    margin: 0 10px;
    color: #f5c600;
  }
  
  
  .quoteText {
    max-width: 70%;
    font-size: 1.2em;
    line-height: 1.5;
    text-align: center;
  }