.heading {
    color: #0066cc;
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: bold;
    border-bottom: 2px dotted #007acc;
    padding-bottom: 10px;
}


.itemContainer{
    width: 100%;
    margin: 20px auto;
}