.doughnutContainer {
    margin: auto;
}

.doughnutContainer h2 {
    margin-bottom: 20px;
    font-size: 24px;
}

.details {
    margin: 20px;
    display: flex;
    flex-direction: column;
}
.details div{
    display: flex;
    flex-direction: row;
    box-shadow: 0px 1px 6px rgb(0, 0, 0,0.2);
    margin: 5px 0px;
    padding: 5px 10px;
}
.details div p {
    width: 50%;
    margin: 5px 0;
    font-size: 18px;
    font-weight: bold;
}

.doughnut{
    width: 350px;
    height: 350px;
    margin: 0px auto;
}