.rankCardContainer{
    background-color: white;
    border-radius: 5px;
    width: 95%;
    padding: 20px;
    box-shadow: -4px 4px 10px rgba(0, 0, 0, 0.3);
    max-width: 1400px;
    max-height: 300px;
    margin: 10px 0px;
  }
  
    .rankChartContainer {
      width: 80%;
      height: 250px;
      margin: 0px auto;
    }
  
    .rankTitle{
      margin-left: 20px;
      font-size: large;
      font-weight: bolder;
    }