*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  min-height: 100vh;
}
a{
  text-decoration: none;
}
.app{
  width: 100%;
  margin: auto;
}

/* Font Poppins */
.poppins-semibold {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 16px;
}
/* Font Poppins */

/* Navigate Button */
.navigate{
  background-color: #CCE0FF;
  color: #000000;
  border: none;
  border-radius: 42PX;
  padding: 10px 22px;
  font-size: 15px;
  cursor: pointer;
}
/*  Navigate Button */

/* Submit Button */
.submit{
  background-color: #0163FD;
  color: #ffffff;
  border: none;
  border-radius: 42PX;
  padding: 10px 22px;
  font-size: 15px;
  cursor: pointer;
}
/* Submit Button */


/* Basic Button */
.basic{
  background-color: #FFCF3C;
  color: #000000;
  border: none;
  border-radius: 42PX;
  padding: 10px 22px;
  font-size: 15px;
  cursor: pointer;
}
/*  Basic Button */