.hero {
    top: 100px;
    display: flex;
    width: 100%;
    height: 765px;
    left: 0px;
    top: 85px;
}

/* ________________________Left side of HERO _______________________________________*/
.hero_left {
    display: flex;
    flex-direction: column;
    width: 609px;
}
.navigate{
    background-color: #CCE0FF;
    color: #000000;
    border: none;
    border-radius: 42PX;
    padding: 10px 22px;
    font-size: 15px;
    cursor: pointer;
  }
.topHeading {
    margin-left: 100px;
    margin-top: 121px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    color: #C67336;
}

.Find_Perfect_Path {
    margin-left: 100px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 76.1986px;
    line-height: 129%;
}

.content {
    margin-left: 100px;
    margin-top: 25px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 22.4113px;
    line-height: 34px;
    color: #080707;
}

img {
    width: 264.64px;
    height: 264.64px;
}

.learn {
    display: flex;
    gap: 50px;
    align-items: center;
    margin-left: 100px;
    margin-top: 50px;
}

.Learn_More {
    display: flex;
    align-items: center;
    gap: 5px;
}

.Learn_More .play {
    align-content: center;
    padding-left: 14px;
    padding-right: 14px;

}

.play_button {
    width: 13px;
    height: 15px;
}
.basic{
    background-color: #FFCF3C;
    color: #000000;
    border: none;
    border-radius: 42PX;
    padding: 10px 22px;
    font-size: 15px;
    cursor: pointer;
  }

/* _______________________Right side of HERO______________________________________________ */
.hero_right {
    margin-left: 178px;
    margin-right: 100px;
    margin-top: 52px;
    display: flex;
    gap: 25px;
    flex-direction: column;
}

.upperimage {
    display: flex;
    flex-direction: row;
    gap: 25px;
}

.lowerimage {
    display: flex;
    gap: 25px;
    flex-direction: row;
}


/* _________________________________Media Queries__________________________________________ */
@media (max-width: 1265px) {
    .upperimage {
        display: flex;
        flex-direction: column;
        gap: 25px;
    }

    .lowerimage {
        display: none;
    }
}

@media (max-width: 1000px) {
    .hero_right {
        display: none;
    }

    .hero_left {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .topHeading {
        margin-left: 100px;
        margin-top: 105px;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        line-height: 30px;
        color: #C67336;
    }
}

@media (max-width: 994px) {
    .hero {
        height: 46%;
    }

    .hero_left {
        margin-right: 10%;
    }
}